<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filenames</key>
	<dict>
		<key>GameUI/Audios/BlinkCont.wav</key>
		<string>GameUI/Audios/BlinkCont.m4a</string>
		<key>GameUI/Audios/fishing-sound.wav</key>
		<string>GameUI/Audios/fishing-sound.m4a</string>
		<key>GameUI/Audios/gameOver2.wav</key>
		<string>GameUI/Audios/gameOver2.m4a</string>
		<key>GameUI/Audios/gamePlay.wav</key>
		<string>GameUI/Audios/gamePlay.m4a</string>
		<key>GameUI/Audios/menu.wav</key>
		<string>GameUI/Audios/menu.m4a</string>
		<key>GameUI/Audios/pop-sound.wav</key>
		<string>GameUI/Audios/pop-sound.m4a</string>
		<key>GameUI/Audios/wooden-button.wav</key>
		<string>GameUI/Audios/wooden-button.m4a</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
